@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

.fixed-top {
  position: fixed;
  top: 0;
  margin:auto 200px;
  z-index: 999;
  background-color: #F5F5F5;
}

.ml-auto {
  margin-left: auto;
  margin-right: 20px;
}

.navbar-brand {
  margin-left: 20px;
  font-family: 'Vina Sans', cursive;
  font-size: 40px;
  letter-spacing: 3px;
}

.nav-item {
  margin-left: 20px;
  border: 2px solid gray;
  border-radius: 20px;
  height: 35px;
  display: flex;
  align-items: center;
}

.nav-item :hover {
    cursor: pointer;
}

.nav-link,
.navbar-brand {
  color: black;
}

.cart-item {
  width: 24px;
  text-align: center;
  position: absolute;
  bottom: 70px;
  right: 120px;
  border-radius: 50%;
  background-color: #F8DE22;
}

.cart-item::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 17px;
  width: 10px;
  height: 10px;
  background-color: #F8DE22;
  transform: rotate(45deg);
  z-index: -11;
}