<div class="bg-img">
  <img class="res-img"
    src="https://img.freepik.com/free-vector/hand-drawn-turkish-food-illustration_23-2149285209.jpg?w=1060&t=st=1691085592~exp=1691086192~hmac=737b47fd66c5c6e7143707e817a7879cce4510ecfe443a3d7511e1fb6eac16f0"
    alt="">
  <div class="box">
    <div class="reg-form">
      <div class="mb-3 centre ">
        <label for="formGroupExampleInput" class="form-label h2 effect"> Register </label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" [(ngModel)]="user.name" placeholder="ATR">
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" [(ngModel)]="user.email" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" [(ngModel)]="user.password" placeholder="123456">
        <label for="floatingInput">Password</label>
      </div>
      <div class="centre mb-3">
        <button type="button" class="btn btn-primary" (click)="register()">Register</button>
      </div>
      <div class="centre mb-3">
        <p>Alredy a user <span class="login-btn" (click)="gotoLogin($event)"> Login </span></p>
      </div>
    </div>
  </div>
</div>
